[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = aislingkelly636
	email = 49490386+aislingkelly636@users.noreply.github.com
