body {
  background-image: url("imgs/13.gif");
  background-size: cover;
  background-position: top;
  font-family: arial, sans-serif;
}

h1 {
  color: white;
  font-size: 44px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  margin-top: 50px;
  display: block;
  text-align: center;
  color: white;
}

.container {
  margin-top: 150px;
  align-items: center;
}

.weatherApp-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weatherApp {
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #dadde1;
  border-radius: 40px;
}

.overview {
  margin-bottom: 20px;
}

.form-control {
  height: 40px;
  border: 1px solid #dadde1;
  border-radius: 20px;
}
.btn {
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 50px;
}

.weather-forecast-temperatures {
  display: block;
  margin: 0 0 0 15px;
  color: white;
  font-size: 13px;
}

.weather-forecast-date {
  display: block;
  margin: 0px 20px 0 20px;
  font-size: 16px;
  color: white;
  opacity: 1;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

#current-location-button {
  width: 150px;
}

#actual-temperature {
  color: white;
}

#celsius-link {
  color: blue;
}

#fahrenheit-link {
  color: blue;
}

#fahrenheit-link .active {
  color: white;
}

.units {
  color: white;
}

#icon {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
}

#weather-icons {
  width: 60px;
}

#weather-details {
  display: block;
  text-align: left;
}
